<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sarafan Home Page</title>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<h1>Hello World!</h1>
<div id="app">
    {{ messages }}
    <ol>
        <!-- Создаём экземпляр компонента todo-item -->
        <todo-item></todo-item>
    </ol>
</div>

<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
</body>
</html>